*.ipynb_checkpoints/
bert/processed.pkl
results/
bert/processed.csv
*final.h5
*pretrained.h5
*embedding
.idea/
__pycache__/
*.DS_Store
data/*
bert/metrics/*
bert/conwea/*
supervised/.ipynb_checkpoints/*
